:root {
    --midnight: #2c3e50cc;
    --solid: #0f3bb5e6;
    --sky: #00a6ffe6;
    --font: "Montserrat", sans-serif;
}


.content-wrapper {
    .data {
        padding: 2.5rem;
        .data-guru {
            .row {
                .col-8 {
                    .row {
                        .col-12 {
                            padding: 0 !important;
                            padding-right: 0.5rem !important;
                        }

                        .banner {
                            .wrap {
                                /* background-color: red; */
                                background-color: white;
                                border-radius: 0.5rem;
                                display: flex;
                                justify-content: space-between;

                                .for-text {
                                    display: flex;
                                    flex-direction: column;
                                    line-height: 1.3;
                                    padding: 1.5rem 1.5rem;

                                    .welcome-text {
                                        font-size: 1.3rem;
                                        font-weight: 600;
                                        color: var(--sky);
                                    }

                                    .moto-text {
                                        padding: 0.75rem 0;
                                        font-size: 1rem;
                                        color: var(--midnight);
                                        width: 25rem;
                                    }

                                    .to-course {
                                        margin-top: 0.75rem;

                                        padding: 0.35rem 0.75rem;
                                        border: 1.5px solid var(--sky);
                                        background-color: transparent;
                                        width: fit-content;
                                        border-radius: 0.25rem;
                                        color: var(--sky);
                                        font-size: 0.9rem;
                                        transition: 0.35s ease;
                                        text-decoration: none;
                                    }

                                    .to-course:hover {
                                        background-color: var(--sky);
                                        color: white;
                                    }
                                }
                                .for-img {
                                    padding: 0 2rem;
                                    align-self: end;
                                    img {
                                        height: auto;
                                        width: 12em;
                                    }
                                }
                            }
                        }

                        .user {
                            margin-top: 1rem;
                            .wrap {
                                background-color: white;
                                padding: 0.2rem;
                                border-radius: 0.5rem;

                                .title {
                                    line-height: 1.2;
                                    font-size: 1rem;
                                    font-weight: 50;
                                    padding: 0.65rem 0.5rem;
                                    display: flex;
                                    align-items: center !important;
                                    color: rgba(44, 62, 80, 0.9);
                                    gap: 0.5rem;
                                    -webkit-text-stroke: 0.25px;

                                    i {
                                        font-size: 1.5rem;
                                    }
                                }

                                .tables {
                                    border-radius: 0.35rem;
                                    background-color: #f8f8f8;
                                    padding: 0.25rem 0;

                                    .table-head {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 0.5rem 0.2rem;
                                        margin: 0 1rem;
                                        border-bottom: 2px solid
                                            rgba(44, 62, 80, 0.3);

                                        .head {
                                            /* padding: 0 0.2rem; */
                                            line-height: 1.1;
                                            font-size: 0.9rem;
                                            font-weight: 600;
                                            color: var(--midnight);
                                            /* text-align: center; */
                                        }

                                        .courses-name {
                                            /* background-color: red; */
                                            width: 11.5rem;
                                        }

                                        .user-name {
                                            /* background-color: green; */

                                            width: 12.5rem;
                                        }

                                        .progres {
                                            /* background-color: blue; */
                                            width: 10rem;
                                        }

                                        .rating {
                                            /* background-color: yellow; */
                                            width: 6rem;
                                        }

                                        .join-date {
                                            /* background-color: black; */
                                            width: 10.25rem;
                                        }
                                    }

                                    .table-body {
                                        margin-top: 0.3rem;
                                        margin: 0 1rem;

                                        display: flex;
                                        flex-direction: column;

                                        .list {
                                            padding: 0.585rem 0.2rem;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            .body {
                                                padding: 0.25rem 0.45rem 0.25rem
                                                    0;
                                                line-height: 1.2;
                                                font-size: 0.78rem;
                                                font-weight: 400;
                                                color: var(--midnight);
                                                overflow: hidden;
                                            }
                                            .courses-name {
                                                /* background-color: red; */
                                                width: 11.5rem;
                                            }

                                            .user-name {
                                                /* background-color: green; */
                                                width: 12.5rem;
                                                display: flex;
                                                align-items: center;
                                                gap: 0.45rem;

                                                .for-pp {
                                                    height: 1.8rem;
                                                    width: 1.8rem;
                                                    border-radius: 50%;
                                                    overflow: hidden;
                                                    img {
                                                        width: 1.8rem;
                                                        min-height: 1.8rem;
                                                        height: auto;
                                                    }
                                                }
                                            }

                                            .progres {
                                                /* background-color: greenyellow; */
                                                width: 10rem;
                                                display: flex;
                                                align-items: center;
                                                gap: 0.5rem;
                                                .progress {
                                                    height: 0.5rem;
                                                    width: 6rem;
                                                    overflow: hidden;

                                                    .progress-bar {
                                                        background: linear-gradient(
                                                            to right,
                                                            var(--sky),
                                                            var(--solid)
                                                        );
                                                    }
                                                }
                                            }

                                            .rating {
                                                /* background-color: yellow; */
                                                width: 6rem;

                                                .bi-star-fill {
                                                    color: rgb(255, 230, 0);
                                                }
                                            }

                                            .join-date {
                                                /* background-color: black; */
                                                width: 9rem;
                                            }

                                            .dots {
                                                overflow: unset !important;

                                                button {
                                                    background-color: transparent;
                                                    border: none;
                                                }

                                                .dropdown-menu {
                                                    min-width: 0px !important;
                                                    padding: 0.5rem 1.5rem;
                                                    width: 9rem;
                                                    font-size: 0.95rem;
                                                    font-weight: 500;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .col-4 {
                    padding-left: 0.75rem;
                    .statistic {
                        .col-6 {
                            padding: 0 0 1rem 0.5rem;

                            .card {
                                width: 12.3rem;
                                .card-body {
                                    padding: 1rem;
                                    line-height: 1.2;
                                    .card-title {
                                        .avatar {
                                            height: 3.3rem;
                                            width: 3.3rem;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-radius: 0.5rem;
                                            i {
                                                font-size: 1.5rem;
                                            }
                                        }

                                        .chart {
                                            background-color: rgba(
                                                0,
                                                98,
                                                255,
                                                0.15
                                            );
                                            i {
                                                color: rgb(0, 98, 255);
                                            }
                                        }

                                        .bookmark {
                                            background-color: rgba(
                                                255,
                                                91,
                                                118,
                                                0.15
                                            );
                                            i {
                                                color: rgb(255, 91, 118);
                                            }
                                        }
                                        .courses {
                                            background-color: rgba(
                                                195,
                                                0,
                                                255,
                                                0.15
                                            );
                                            i {
                                                color: rgba(195, 0, 255, 1);
                                            }
                                        }
                                        .kategori {
                                            background-color: rgba(
                                                0,
                                                255,
                                                242,
                                                0.15
                                            );
                                            i {
                                                color: rgba(0, 255, 242, 1);
                                            }
                                        }
                                    }

                                    .name {
                                        font-size: 1.1rem;
                                        color: var(--midnight);
                                    }

                                    .valuation {
                                        font-size: 1.8rem;
                                        font-weight: 600;
                                        color: var(--midnight);

                                        margin: 0.25rem 0 0.65rem 0;
                                    }

                                    .year {
                                        font-size: 0.9rem;
                                        color: rgba(44, 62, 80, 0.7);
                                    }
                                }
                            }
                        }

                        .col-12 {
                            padding: 0 0 1rem 0.5rem !important;
                            /* margin-top: 1.35rem; */

                            .calendar {
                                width: 25.5rem;
                                border-radius: 0.5rem;
                                /* box-shadow: 0 0 2px var(--midnight); */
                                border: 1px solid rgba(128, 128, 128, 0.3);
                                color: var(--midnight);
                                padding: 0.5rem 1rem;

                                display: flex;
                                flex-direction: column;
                                background-color: white;

                                .for-info {
                                    display: flex;
                                    align-items: center;
                                    justify-content: end;
                                    .dropdown-toggle {
                                        cursor: pointer;
                                        display: flex;
                                        align-items: center;
                                        justify-content: end;
                                        padding: 0.25rem 0.5rem;
                                        margin-right: -0.5rem;
                                        i {
                                            color: var(--sky);
                                            font-size: 1.2rem;
                                        }
                                    }

                                    .dropdown-menu.show {
                                        display: flex;
                                        flex-direction: column;
                                        padding: 0.5rem 1rem !important;
                                        .list {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.75rem;
                                            padding: 0.25rem 0;
                                            width: 19rem;

                                            height: 2.5rem;

                                            .color-indicator {
                                                height: 1rem !important;
                                                width: 1rem !important;
                                                border-radius: 50%;
                                            }

                                            .new-all {
                                                background-color: rgba(
                                                    0,
                                                    8,
                                                    255,
                                                    0.5
                                                );
                                            }
                                            .new-course {
                                                background-color: rgba(
                                                    44,
                                                    62,
                                                    80,
                                                    0.5
                                                );
                                            }
                                            .new-materi {
                                                background-color: rgba(
                                                    174,
                                                    14,
                                                    237,
                                                    0.5
                                                );
                                            }
                                            .new-kuis {
                                                background-color: rgba(
                                                    55,
                                                    255,
                                                    0,
                                                    0.5
                                                );
                                            }
                                            .new-cm {
                                                background-color: rgba(
                                                    255,
                                                    0,
                                                    0,
                                                    0.5
                                                );
                                            }
                                            .new-ck {
                                                background-color: rgba(
                                                    255,
                                                    221,
                                                    0,
                                                    0.5
                                                );
                                            }
                                            .new-mk {
                                                background-color: rgba(
                                                    0,
                                                    255,
                                                    247,
                                                    0.5
                                                );
                                            }
                                            .today {
                                                background: linear-gradient(
                                                    to bottom right,
                                                    var(--solid),
                                                    rgb(0, 162, 255)
                                                );
                                            }

                                            .explanation {
                                                width: 17rem !important;
                                                font-size: 0.9rem;
                                                text-wrap: wrap;
                                                font-weight: 500;
                                                color: var(--midnight);
                                                line-height: 1.1;
                                            }
                                        }
                                    }
                                }

                                .calendar_header {
                                    padding: 0.75rem 1rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 1rem;

                                    line-height: 1 !important;

                                    button {
                                        border: none;
                                        padding: 0 !important;
                                        background: unset;

                                        i {
                                            color: var(--midnight) !important;
                                            font-size: 1.6rem;
                                            -webkit-text-stroke: 0.75px;
                                        }
                                    }

                                    h2 {
                                        color: var(--midnight) !important;
                                        margin: 0;
                                        font-size: 1.3rem;
                                        font-weight: 600;
                                    }
                                }

                                .calendar_weekdays {
                                    margin-top: 0.75rem;
                                    padding: 0rem 1rem !important;
                                    background: transparent !important;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0.5rem;

                                    .week {
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: rgba(44, 62, 80, 0.6) !important;
                                        width: 3rem !important;
                                        overflow: hidden;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }

                                .calendar_content {
                                    padding: 0.15rem 0.5rem 0 0.5rem !important;
                                    margin: 0 !important;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    gap: 0.8rem;

                                    .date {
                                        font-size: 0.95rem;
                                        font-weight: 500;
                                        color: rgba(
                                            44,
                                            62,
                                            80,
                                            0.75
                                        ) !important;
                                        width: 2.3rem !important;
                                        height: 2.3rem;
                                        overflow: hidden;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 50%;
                                        line-height: 1.1;
                                    }

                                    .today {
                                        background: linear-gradient(
                                            to bottom right,
                                            var(--solid),
                                            rgb(0, 162, 255)
                                        );
                                        color: white !important;
                                        font-size: 1rem;
                                        font-weight: bold;
                                    }

                                    .past-date {
                                        /* background-color: yellow; */
                                    }

                                    .future-date {
                                        /* background-color: blue; */
                                    }

                                    .cok {
                                        background-color: aqua;

                                        color: white !important;
                                        font-size: 1rem;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
